<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">home</a>
        <a href="/recipes/new">ADD RECIPE</a>
        <a href="/recipes">RECIPE LIST</a>
    </nav>
    <h1><%= title %></h1>
    <hr>