<!DOCTYPE html>
<html id="home">
    <head>
      <title><%= title %></title>
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <h2>Hong Kong Lemon Tea </h2>
    <hr>
    <h3 class="center-align">港式檸檬茶</h3>
    <body class="center-align">
      <div class="container">
        <div class="tenor-gif-embed" data-postid="14799800" data-share-method="host" data-aspect-ratio="2.5" data-width="100%"><a href="https://tenor.com/view/tea-cartoon-cute-simple-lemon-gif-14799800">Tea Cartoon Sticker</a>from <a href="https://tenor.com/search/tea-stickers">Tea Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <h4><a href="/recipes">ENTER</a></h4>
      </div>
    </body>