<%- include('../partials/header') %>

<section id="show-page">
    <div>TItle: </div>
    <div><%= recipe.title %></div>
    <div>Prep Time: </div>
    <div><%= recipe.prepTime %></div>
  </section>
  <br><h2>Ingredients</h2>

<%- include('../partials/footer') %>